.container {
	color: var(--fg0);
}

.box {
	text-align: center;
	background-color: var(--bg3);
	padding: 1.2em 0;
	border-radius: 20px;
}

.contact {
	margin: 2em 0;
}

.container a, .container a:visited {
	color: var(--dark-blue);
}

.container a:hover {
	text-decoration: underline;
}
