.credits {
	text-align: center;
	background-color: pink;
	padding: 1.2em 0;
	border-radius: 20px;
}

.contact {
	margin: 2em 0;
}

.email {
	background-color: #baffff;
	margin-bottom: 1em;
	padding: 1.2em 0;
	text-align: center;
}
