.container {
	color: #fbf1c7;
}

.box {
	text-align: center;
	background-color: #665c54;
	padding: 1.2em 0;
	border-radius: 20px;
}

.contact {
	margin: 2em 0;
}

.container a, .container a:visited {
	color: #458588;
}

.container a:hover {
	text-decoration: underline;
}
