.page {
	color: var(--fg0);
}

.instructions {
	background-color: var(--bg3);
	padding: 1.2em;
	border-radius: 20px;
}

.input_area {
	font-family: "kalpurush";
	margin: 0 auto;
	width: 100%;
	font-size: 0.95rem;
	height: 10em;
	resize: vertical;
	background-color: var(--bg3);
	color: var(--fg0);
	padding: 0.8em;
	border-radius: 20px;
}

.solution_input {
	height: 80vh;
}

.input_area::placeholder {
	color: var(--fg2);
}


.add_button {
	padding: 0.8em 1em;
	background-color: var(--dark-blue);
	color: #fbf1c7;
	margin: 0 1em;
	border-radius: 1em;
}

.add_button:hover {
	background-color: var(--light-blue);
}


.container {
	margin: 1em 0;
}

.clear_image {
	padding: 0.8em;
	margin: 0.5em;
	border-radius: 2em;
	background-color: var(--dark-red);
	color: var(--fg0);
}

.clear_image:hover {
	background-color: var(--light-red);
}

.link_container {
	margin: 2em 0;
}

.link_container a, .link_container a:visited {
	color: var(--dark-blue);
}

.link_container a:hover {
	color: var(--light-blue);
}
