.page {
	color: #fbf1c7;
}

.instructions {
	background-color: #665c54;
	padding: 1.2em;
	border-radius: 20px;
}

.input_area {
	margin: 0 auto;
	width: 100%;
	font-size: 1.3rem;
	height: 10em;
	resize: vertical;
	background-color: #665c54;
	color: #fbf1c7;
	padding: 0.8em;
	border-radius: 20px;
}

.input_area::placeholder {
	color: #d5c4a1;
}


.refresh_button {
	padding: 0.8em 1em;
	background-color: #04AA6D;
	border-color: #04AA6D;
	color: white;
	border-radius: 1em;
	margin-bottom: 2em;
}

.refresh_button:hover {
	background-color: #0dd38a;
}


.add_button {
	padding: 0.8em 1em;
	background-color: #458588;
	color: #fbf1c7;
	margin: 0 1em;
	border-radius: 1em;
}

.add_button:hover {
	background-color: #83a598;
}


.container {
	margin: 1em 0;
}

.clear_image {
	padding: 0.8em 0.4em;
	margin: 0.5em;
	border-radius: 2em;
	background-color: #ff5959;
}

.clear_image:hover {
	background-color: red;
}


.keywords_container {
	margin: 2em 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	font-size: 0.7rem;
}

.keywords_container label {
	display: flex;
	margin: 0.5em;
	background-color: #cc241d;
	color: white;
	padding: 0.5em 1em;
	border-radius: 20px;
	cursor: pointer;
	transition: border-radius 0.5s ease 0s;
}


.keywords_container label:hover {
	background-color: #fb4934;
	border-radius: 0;
}
