@font-face {
	font-family: "kalpurush";
	src: url("kalpurush.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, "kalpurush";
  background-color: var(--bg); 
}

* {
  box-sizing: border-box;
}

:root {
	--bg: #282828;
	--dark-red: #cc241d;
	--dark-green: #98971a;
	--dark-yellow: #d79921;
	--dark-blue: #458588;
	--dark-purple: #b16286;
	--dark-aqua: #689d6a;
	--light-grey: #a89984;
	--dark-grey: #928374;
	--light-red: #fb4934;
	--light-green: #b8bb26;
	--light-yellow: #fabd2f;
	--light-blue: #83a598;
	--light-purple: #d3869b;
	--light-aqua: #8ec07c;
	--fg: #ebdbb2;
	--bg0-h: #1d2021;
	--bg1: #3c3836;
	--bg2: #504945;
	--bg3: #665c54;
	--bg4: #7c6f84;
	--dark-orange: #d65d0e;
	--bg0-s: #32302f;
	--fg4: #a89984;
	--fg3: #bdae93;
	--fg2: #d5c4a1;
	--fg0: #fbf1c7;
	--light-orange: #fe8019;
}


a {
	text-decoration: none;
}

.keywords_container {
	margin: 2em 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.keyword {
	font-size: 0.7rem;
	display: flex;
	margin: 0.5em;
	color: white;
	padding: 0.5em 1em;
	border-radius: 20px;
	transition: border-radius 0.5s ease 0s;
}

.hoverable_keyword {
	background-color: var(--dark-blue);
	cursor: pointer;
}

.not_hoverable_keyword {
	background-color: var(--dark-blue);
}

.hoverable_keyword:hover {
	background-color: var(--light-blue);
	border-radius: 0;
}

@media screen and (max-width: 500px) {
	html * {
		font-size: 8pt;
	}

	.keyword {
		font-size: 0.5rem;
	}
}
