.filter_button {
	padding: 0.6em;
	margin-right: 1.5em;
	background-color: var(--dark-orange);
	color: #ebdbb2;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.filter_button:hover {
	background-color: var(--light-orange);
	border-radius: 0;
}

.question_wrapper {
	display: flex;
	justify-content: space-between;
	color: var(--fg0);
}

.question_item {
	width: 98%;
}

.scroll_container {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 1em 0 1em 0;
	color: var(--fg0);
}

.scroll_container input {
	margin: 0 0.5em;
	padding: 0.4em;
	background-color: var(--dark-grey);
	color: var(--fg0);
}

.scroll_container input::placeholder {
	color: var(--fg2);
}
