@font-face {
	font-family: "kung-fu-master";
	src: url("KungFuMaster.otf");
}

.container_div {
	background-color: var(--bg1);
}

.nav_container {
	display: flex;
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}

.header h2 {
	margin: 0;
	font-weight: 1;
}

.header a {
	color: var(--dark-yellow);
	letter-spacing: 0.05em;
	font-family: "kung-fu-master";
}

.header a:hover {
	color: var(--light-yellow);
}

.nav ul {
	list-style: none;
	display: flex;
}

.nav li {
	margin-left: 2em;
}

.nav a, .nav a:visited {
	color: var(--fg);
	transition: color 0.3s ease 0s;
}

.nav a:hover {
	color: var(--fg0);
}
