@font-face {
	font-family: "kung-fu-master";
	src: url("KungFuMaster.otf");
}

.container_div {
	background-color: #3c3836;
	color: white;
}

.nav_container {
	display: flex;
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}

.header h2 {
	margin: 0;
	font-weight: 1;
}

.header a {
	color: #d79921;
	letter-spacing: 0.05em;
	font-family: "kung-fu-master";
}

.header a:hover {
	color: #fabd2f;
}

.nav ul {
	list-style: none;
	display: flex;
}

.nav li {
	margin-left: 2em;
}

.nav a, .nav a:visited {
	color: #ebdbb2;
	transition: color 0.3s ease 0s;
}

.nav a:hover {
	color: #fbf1c7;
}
