.container {
	margin: 0 0 1.5em 0;
    padding: 0.5em 0.5em;
    border: 1px solid grey;
    background-color: var(--bg1);
	color: var(--fg0);
	border: 2px solid var(--fg3);
    border-radius: 20px;
    box-shadow: 1em 1em 1em #3c3836;
	white-space: pre-wrap;
}

.toggle_button {
	padding: 0.8em 1.2em;
	margin: 0.5em 1em;
	border-radius: 2em;
	background-color: #59df59;
	cursor: pointer;
}

.toggle_button:hover {
	background-color: #68ff68;
}

.solution_container {
	border: 5px solid var(--dark-blue);
	padding: 1em;
	margin: 1em 0;
}

.icon_buttons {
	float: right;
}

.reload_button {
	background-color: transparent;
	border: 0px;
	color: var(--fg0);
	cursor: pointer;
}

.copy_button {
	background-color: var(--bg0);
	color: var(--fg0);
	cursor: pointer;
	border: 0px;
}


.solution_control_div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap;
}


.final_ans_container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 2em;
	color: var(--light-yellow);
	border: 2.5px solid var(--light-yellow);
	border-radius: 25px;
	padding: 0.5em 1.3em;
}

.slider {
	position: relative;
	margin-left: 1em;
	appearance: none;
	width: 3em;
	height: 1.2em;
	background-color: #c2c2c2;
	border-radius: 1em;
	cursor: pointer;
	transition: all 0.5s ease 0s;
}

.slider:checked {
	background-color: var(--light-yellow);
}

.slider:before {
	content: '';
	position: absolute;
	width: 1.2em;
	height: calc(1.2em - 1px);
	top: -1px;
	left: 0;
	background-color: white;
	border-radius: 1em;
	transition: .5s;
	border: 1px solid grey;
}

.slider:checked:before {
	left: 2em;
}

.copy_feedback {
	position: fixed;
	bottom: 2em;
	left: 50%;
	display: none;
	transform: translate(-50%, 0);
	z-index: 10;
	border: 1px solid white;
	color: white;
	background-color: black;
	padding: 0.5em;
	border-radius: 20px;
}

.fade_in_and_out {
	display: block;
	opacity: 1;
	animation: fade 2s linear;
}

@keyframes fade {
	0%,100% { opacity: 0 }
	50% { opacity: 1 }
}
