.container {
	margin: 0 0 1.3em 0;
    padding: 0.5em 0.5em;
    border: 1px solid grey;
    background-color: var(--bg1);
	color: var(--fg0);
    border-radius: 0.5em;
    box-shadow: 1em 1em 1em #3c3836;
}

.toggle_button {
    padding: 0.5em;
    margin: 1em 0;
    background-color: var(--dark-yellow);
	font-weight: bold;
    border-radius: 1em;
    cursor: pointer;
}

.toggle_button:hover {
	background-color: var(--light-yellow);
}

.solution_container {
	border: 5px solid var(--dark-blue);
	padding: 1em;
	margin: 1em 0;
}
