.container {
	margin: 0 0 1.3em 0;
    padding: 0.5em 0.5em;
    border: 1px solid grey;
    background-color: #504945;
	color: #fbf1c7;
    border-radius: 0.5em;
    box-shadow: 1em 1em 1em #3c3836;
}

.toggle_button {
    padding: 0.5em;
    margin: 1em 0;
    background-color: #4df14d;
    border-radius: 1em;
    cursor: pointer;
}

.toggle_button:hover {
	background-color: #8df78d;
}

.solution_container {
	border: 5px solid #458588;
	padding: 1em;
	margin: 1em 0;
}


.keywords_container {
	margin: 1em 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	font-size: 0.7rem;
}

.keywords_container span {
	margin: 0.5em;
	background-color: #fb4934;
	color: white;
	padding: 0.5em 1em;
	border-radius: 20px;
	transition: border-radius 0.5s ease 0s;
}
