.info {
	display: flex;
	align-items: center;
	color: var(--fg0);
	margin: 1em 0;
}

.description {
	margin-left: 0.5em;
}

.info a, .info a:visited {
	color: var(--dark-blue);
}

@media screen and (max-width: 500px) {
	.info {
		margin: 0.3em;
	}
}
